<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Hiking Place</title>
</head>

<body>
    <h1>Edit Hiking Place</h1>
    <form action="/hiking-places/<%=hikingPlace._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <!--multiple hikingPlaces title, to group content together. Everything sotred in the body'll be stored under name -->
            <input type="text" id="title" name="hikingPlace[title]" value="<%= hikingPlace.title%>">
        </div>
        <div>
            <label for="location">location</label>
            <!--multiple hikingPlaces title, to group content together -->
            <input type="text" id="location" name="hikingPlace[location]" value="<%= hikingPlace.location%>">
        </div>
        <button>Edit New Hiking Place !</button>
    </form>
    <a href="/hiking-places/<%= hikingPlace._id%>">Back to Hiking Places</a>
</body>

</html>