<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">New Hiking Place</h1>
        <div class="col-6 offset-3">
            <form action="/hiking-places" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <!--multiple hikingPlaces title, to group content together. Everything sotred in the body'll be stored under name -->
                    <input  class="form-control" type="text" id="title" name="hikingPlace[title]">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">location</label>
                    <!--multiple hikingPlaces title, to group content together -->
                    <input class="form-control" type="text" id="location" name="hikingPlace[location]">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">TikTok URL</label>
                    <!--multiple hikingPlaces title, to group content together -->
                    <input class="form-control" type="text" id="image" name="hikingPlace[image]">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <!--multiple hikingPlaces title, to group content together -->
                    <textarea class="form-control" type="text" id="description" name="hikingPlace[description]"></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add New Hiking Place !</button>
                </div>
                
            </form>
            <a href="/hiking-places">All Hiking Places</a>
        </div>
    </div>

 
