<% layout('layouts/boilerplate')%>
    <form action="/hiking-places" method="POST">
        <div>
            <label for="title">Title</label>
            <!--multiple hikingPlaces title, to group content together. Everything sotred in the body'll be stored under name -->
            <input type="text" id="title" name="hikingPlace[title]"> 
        </div>
        <div>
            <label for="location">location</label>
            <!--multiple hikingPlaces title, to group content together -->
            <input type="text" id="location" name="hikingPlace[location]">
        </div>
        <button>Add New Hiking Place !</button>
    </form>
    <a href="/hiking-places">All Hiking Places</a>
