<% layout('layouts/boilerplate')%>
    <h1> <%= hikingPlace.title %> </h1>
    <h2> <%= hikingPlace.location %> </h2>

    <footer>
        <div>
            <a href="/hiking-places/<%=hikingPlace._id%>/edit">Edit</a>
        </div>

        <form action="/hiking-places/<%=hikingPlace._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
       
        <a href="/hiking-places">All Hiking Places</a>
    </footer>
