<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1> <%= hikingPlace.title %> </h1>
    <h2> <%= hikingPlace.location %> </h2>

    <footer>
        <div>
            <a href="/hiking-places/<%=hikingPlace._id%>/edit">Edit</a>
        </div>
       
        <a href="/hiking-places">All Hiking Places</a>
    </footer>
</body>
</html>